<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>eddited web compiler</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./app/styles.css">

</head>

<body>

  <div class="container" id="edditor">
    <header class="header row align-items-center">
      <div class="col-sm-6">
        <h3 class="text-muted">eddited web compiler</h3>
      </div>
      <div class="col-sm-6 text-right">
        <span class="badge badge-light">v{{ version }}</span>
      </div>
    </header>

    <main class="row">
      <div class="config col-lg-6">

        <card title="General Colors" tag="tabcolor">
          <color name="Main Accent Color" v-model="color_accent"></color>
          <color name="Background Color" v-model="color_background"></color>
          <color name="Text Color" v-model="color_text"></color>
          <color name="Subtle Text Color" v-model="color_text_subtle"></color>
          <color name="Shadow Color" v-model="color_shadow"></color>
          <color name="Border Color" v-model="color_border"></color>
          <color name="Link Color" v-model="color_link"></color>
          <color name="Button Color" v-model="color_button"></color>
          <color name="Button Text Color" v-model="color_button_text"></color>
          <color name="Upvote Color" v-model="color_upvote"></color>
          <color name="Downvote Color" v-model="color_downvote"></color>
          <color name="Thumbnail Color" v-model="color_thumbnail"></color>
          <color name="NSFW Color" v-model="color_nsfw"></color>
          <color name="Locked Color" v-model="color_locked"></color>
          <color name="Stickied Color" v-model="color_stickied"></color>
          <color name="Visited Color" v-model="color_visited"></color>
          <color name="Red Flair Color" v-model="color_red_flair"></color>
          <color name="Green Flair Color" v-model="color_green_flair"></color>
        </card>

        <card title="General Options" tag="taboption">
          <string name="Sidebar Width" v-model="width_sidebar"></string>
          <string name="Thumbnail Width" v-model="width_thumbnail"></string>
          <string name="Thumbnail Height" v-model="height_thumbnail"></string>
          <string name="Hover Delay" v-model="hover_delay"></string>
        </card>

        <card title="Text Options" tag="tabtext">
          <string name="Submit Link" v-model="text_submit_link"></string>
          <string name="Submit Text" v-model="text_submit_text"></string>
          <string name="Browsing" v-model="text_subscribers"></string>
          <string name="Users Online" v-model="text_here_now"></string>
          <string name="Subreddit Prefix" v-model="text_sub_prefix"></string>
          <string name="Header Box" v-model="text_header_box"></string>
        </card>

        <card title="Theme Plugins" tag="tabplugin">
          <toggle name="Header Box" v-model="enable_header_box"></toggle>
          <toggle name="Dropdown Tabmenu" v-model="enable_tabmenu_dropdown"></toggle>
          <toggle name="Sidebar Image" v-model="enable_sidebar_image"></toggle>
          <toggle name="Sidebar Popout" v-model="enable_sidebar_popout"></toggle>
          <toggle name="Headline" v-model="enable_headline_box"></toggle>
          <toggle name="Split Submit Buttons" v-model="enable_split_submit_buttons"></toggle>
          <toggle name="Show NSFW Thumbnails" v-model="enable_nsfw_thumbnails"></toggle>
        </card>

        <card title="Header Box" tag="tabheaderbox" v-show="enable_header_box">
          <string name="Box Height" v-model="header_box_height"></string>
          <string name="Header Text" v-model="text_header_box"></string>
          <color name="Background Color" v-model="header_box_bg_color"></color>
          <color name="Text Color" v-model="header_box_text_color"></color>
          <toggle name="Use Background Image" v-model="header_box_bg_image"></toggle>
        </card>

        <card title="Sidebar Image" tag="tabsidebarimage" v-show="enable_sidebar_image">
          <string name="Image Height"
            v-model="sidebar_image_height" v-show="enable_sidebar_image"></string>
        </card>

        <card title="Headline" tag="tabheadline" v-show="enable_headline_box">
          <color name="Background Color" v-model="headline_box_bg_color"></color>
          <color name="Text Color" v-model="headline_box_text_color"></color>
        </card>

      </div>
      <div class="col-lg-6">

        <card shown="true">
          <demos @input="loadDemo"></demos>
        </card>

        <card title="Import Config" tag="tabimport" class="bg-info text-white">
          <import @input="importConfig"></import>
        </card>

        <card title="Export Config" tag="tabexport" class="bg-info text-white">
          <export :config="exportConfig"></export>
        </card>

        <card title="Compile Theme" shown="true" tag="tabcompile" class="bg-success text-white">
          <compiled @input="compileTheme"></compiled>
        </card>

      </div>
    </main>

    <footer class="footer text-center">
      <p>
        <a target="_blank" href="http://reddit.com/r/eddited">r/eddited</a> -
        <a target="_blank" href="http://github.com/12px/eddited">Github</a> -
        by <a target="_blank" href="http://12px.io">12px</a>
      </p>
    </footer>
  </div>


  <!-- Vendor Scripts -->
  <script src="./app/scripts.js?v=1.0.0-rc2.1"></script>
  <script src="./app/lib/clean-css-v4.1.9.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="./node_modules/less/dist/less.min.js"></script>

  <!-- User Scripts -->
  <script src="./app/demos.js?v=1.0.0-rc2.1"></script>
  <script src="./app/templates.js?v=1.0.0-rc2.1"></script>
  <script src="./app/config.js?v=1.0.0-rc2.1"></script>

</body>

</html>
