.subscribers,.users-online {
  text-transform: uppercase;

  color: var(--c-main);

  font-size: .65rem;
  font-weight: 700;
}

.subscribers .word,.titlebox .leavemoderator:before,.titlebox form.leavecontributor-button:before,.users-online .word,.users-online:before {
  display: none;
}

.leavemoderator,.subscribers {
  float: right;
}

.subscribers:after,.users-online:after {
  display: inline;
}

.subscribers:after {
  content: var(--subscribers);
}

.users-online:after {
  content: var(--here-now);
}

.leavecontributor-button,.leavemoderator {
  display: inline-block;

  margin-bottom: var(--half-pad);
}

.leavecontributor-button .option,.leavemoderator {
  font-size: 0;
}

.leavecontributor-button .no,.leavecontributor-button .yes {
  padding-right: 2px;
}

.leavecontributor-button .option a,.leavemoderator a {
  font-size: .65rem;
}

.leavemoderator a:before {
  content: "Mod (";
}

.leavecontributor-button .option .togglebutton:before {
  content: "Approved (";
}

.leavecontributor-button .option .togglebutton:after,.leavemoderator a:after {
  content: ")";
}

.titlebox form.flairtoggle {
  margin-top: var(--half-pad);
  margin-bottom: -12px;
  margin-bottom: -.75rem;

  font-size: 0;
}

.titlebox form.flairtoggle label:after {
  content: "Flair: ";

  font-size: .65rem;
}

.flairtoggle+.tagline {
  margin: 0;

  text-align: right;
}
