/* sidebar */

.side {
  order: 2;
  margin: 55px var(--pad) 0 0;
  width: calc(var(--w-sidebar) - var(--pad));
}

.side::after {
  display: block;
  text-align: center;
  color: var(--c-muted);
  content: 'theme @ r/eddited';
}

.linkinfo {
  border-radius: 0;
}

.side .create {
  display: none;
}

.sidecontentbox {
  margin-bottom: var(--double-pad);
}

.sidecontentbox .title {
  margin-bottom: var(--pad);
}

#moderation_tools .title h1 {
  font-size: 0;
}

#moderation_tools .title h1::before {
  font-size: 0.75rem;
  content: 'Mod Tools';
  text-transform: capitalize;
}

.sidecontentbox .collapse-button {
  font-size: 0;
  line-height: 7px;
  background: transparent;
  border-color: transparent;
}

.sidecontentbox .collapse-button::before {
  content: '[-]';
  font-size: 0.65rem;
}

.sidecontentbox .content {
  padding: 0;
  border: none;
}