/* sidebar general */

.side {
  margin: 33px 0 0;
  width: var(--w-sidebar);
  border-left: 1px solid var(--c-border);

  order: 2;
}

.with-listing-chooser .side {
  margin-right: 0px;
}

.side:after {
  display: block;
  color: var(--c-muted);
  content: "theme @ r/eddited";
  text-align: center;
}

.linkinfo {
  border-radius: 0;
}

.sidecontentbox {
  margin-bottom: 24px;
}

.sidecontentbox .title {
  margin-bottom: 12px;
}

#moderation_tools .title h1 {
  font-size: 0;
}

#moderation_tools .title h1:before {
  content: "Mod Tools";
  text-transform: capitalize;
  font-size: 12px;
  font-size: .75rem;
}

.sidecontentbox .collapse-button {
  border-color: transparent;
  background: transparent;
  font-size: 0;
  line-height: 7px;
}

.sidecontentbox .collapse-button:before {
  content: "[-]";
  font-size: 10.4px;
  font-size: .65rem;
}

.sidecontentbox .content {
  padding: 0;
  border: none;
}
