/* header */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom-color: var(--c-border);
  background-color: var(--c-bg);

  order: 0;
}

#header-bottom-left,
#header-bottom-right,
#sr-header-area,
#sr-more-link {
  border: none;
}

#header-bottom-left,
#header-bottom-right {
  padding: 12px;
  background: var(--c-bg);
  color: var(--c-text);
  line-height: 1;
}

#header-img.default-header {
  margin: 0 -4px 0 0;
  width: auto;
  height: auto;
  background-image: none;
  text-indent: 0;
  font-size: 0;
}

#header-img:after {
  display: inline-block;
  content: "r/ ";
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
}

.redditname {
  font-size: 0;
}

.redditname a {
  letter-spacing: 0;
  font-variant: normal;
  font-size: 1rem;
}

.pagename a {
  color: var(--c-main);
}
