/* header */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom-color: var(--c-border);
  background-color: var(--c-bg);

  order: 0;
}

#header-bottom-left,
#header-bottom-right,
#sr-header-area,
#sr-more-link {
  border: none;
}

#header-bottom-left,
#header-bottom-right {
  padding: 12px;
  background: var(--c-bg);
  color: var(--c-text);
  line-height: 1;
}

#header-img.default-header {
  margin: 0 -4px 0 0;
  width: auto;
  height: auto;
  background-image: none;
  text-indent: 0;
  font-size: 0;
}

#header-img:after {
  display: inline-block;
  content: "r/ ";
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
}

.redditname {
  font-size: 0;
}

.redditname a {
  letter-spacing: 0;
  font-variant: normal;
  font-size: 1rem;
}

.pagename a {
  color: var(--c-main);
}

@if $header-box {
  body:not(.with-listing-chooser) > .content::before {
    display: block;
    left: 0;
    right: 0;
    font-weight: 700;
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: var(--hbox-height);
    margin-top: calc(-13px - var(--hbox-height));
    height: var(--hbox-height);
    content: var(--hbox-content);
    position: absolute;
    border-bottom: 2px solid var(--c-main);

    @if $header-box-background {
      background: url(%%header%%);
      background-size: cover;
      background-position: center top;
    }

    @if $header-box-light-text {
      color: var(--c-bg);
    }
    @else {
      color: var(--c-text);
    }
  }
}
