/* tabmenu */

.tabmenu,
.tabmenu a,
.tabmenu li { box-sizing: border-box; }

.tabmenu {
  position: absolute;
  color: var(--c-text);
  border: 1px solid transparent;
  margin: -5px 0 0 var(--pad);
}

.tabmenu:hover {
  background: var(--c-bg);
  border-color: var(--c-border);
}
.tabmenu:not(:hover) li:not(.selected) { display: none; }
.tabmenu:not(:hover) .selected a {
  color: var(--c-main);
  border-color: var(--c-border);
}

.tabmenu li,
.tabmenu a {
  margin: 0;
  display: block;
}

.tabmenu li a,
.tabmenu li.selected a {
  width: 100%;
  font-weight: 400;
  font-size: 0.65rem;
  letter-spacing: 1px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: var(--half-pad) var(--pad);
  border-bottom-color: var(--c-shadow);
}
.tabmenu li a:hover { background: var(--c-shadow); }

.tabmenu li a { color: var(--c-text); }
.tabmenu li.selected a { color: var(--c-main); }
