/* tabmenu */
.tabmenu,.tabmenu a,
.tabmenu li {
  box-sizing: border-box;
}

.tabmenu {
  position: absolute;
  margin: -5px 0 0 12px;
  border: 1px solid transparent;
  color: var(--c-text);
}

.tabmenu:hover {
  border-color: var(--c-border);
  background: var(--c-bg);
}

.tabmenu:not(:hover) li:not(.selected) {
  display: none;
}

.tabmenu:not(:hover) .selected a {
  border-color: var(--c-border);
  color: var(--c-main);
}

.tabmenu a,.tabmenu li {
  display: block;
  margin: 0;
}

.tabmenu li.selected a,
.tabmenu li a {
  padding: 6px 12px;
  width: 100%;
  border: 1px solid transparent;
  border-bottom-color: var(--c-shadow);
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .65rem;
}

.tabmenu li a:hover {
  background: var(--c-shadow);
}

.tabmenu li a {
  color: var(--c-text);
}

.tabmenu li.selected a {
  color: var(--c-main);
}
