/* top bar (subreddits) */

#sr-header-area {
  position: relative;
  margin-top: -13px;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
  height: 1em;
  line-height: 1em;
}

#header:hover #sr-header-area {
  margin-top: 0;
  margin-bottom: -5px;
}

#header #sr-header-area:hover {
  margin-bottom: 0;
}

#sr-header-area,#sr-more-link {
  background: var(--c-bg);
  color: var(--c-bg);
  transition: all 0.15s ease;
}

#sr-header-area a {
  margin-right: 6px;
  color: var(--c-bg);
  font-size: .5rem;
}

#sr-header-area .separator {
  display: none;
}

#sr-more-link {
  margin-right: 0!important;
}

#sr-header-area .dropdown.srdrop {
  font-size: 0;
}

#header:hover #sr-header-area,#header:hover #sr-header-area a {
  color: var(--c-muted);
}

#sr-header-area a:hover {
  color: var(--c-main)!important;
}
