.commentarea .menuarea,.panestack-title {
  margin: 0;
  padding: var(--pad);

  border-color: var(--c-border);
}

.panestack-title {
  margin-top: var(--pad);
}

.commentarea .menuarea .toggle a {
  color: var(--c-muted);
}

.gold-accent.comment-visits-box {
  margin: var(--pad) 10px var(--double-pad);

  color: var(--c-locked-t);
}

.new-comment .usertext-body {
  border-color: transparent;
  background-color: transparent;
}

.new-comment .tagline:after {
  display: inline-block;

  content: "new comment";

  color: var(--c-main);
}