/* comments */

.commentarea .menuarea,.panestack-title {
  margin: 0;
  padding: 12px;
  border-color: var(--c-border);
}

.panestack-title {
  margin-top: 12px;
}

.commentarea .menuarea .toggle a {
  color: var(--c-muted);
}

.gold-accent.comment-visits-box {
  margin: 12px 10px 24px;
  color: var(--c-locked-t);
}

.new-comment .usertext-body {
  border-color: transparent;
  background-color: transparent;
}

.new-comment .tagline:after {
  display: inline-block;
  color: var(--c-main);
  content: "new comment";
}
