/* comments page */

.panestack-title,
.commentarea .menuarea {
  margin: 0;
  padding: var(--pad);
  border-color: var(--c-border);
}
.panestack-title { margin-top: var(--pad); }

.gold-accent.comment-visits-box {
  color: var(--c-locked-t);
  margin: var(--pad) 10px var(--double-pad);
}
