/* content */

body>.content {
  margin: 33px 0 0!important;
  border-right-color: var(--c-bg);

  order: 1;
  flex: 0 1 calc(100% - var(--w-sidebar));
}

#subreddit_stylesheet>div,
#preview-table table {
  width: 100%;
}

.thing.stickied.link a.title,
.tagline .stickied-tagline,
.search-result-meta .stickied-tagline {
  color: var(--c-stickied);
}

.gold-accent {
  border-color: var(--c-locked);
  border-radius: 3px;
  background-color: color(var(--c-locked) lightness(90%));
}

/* inline expand buttons */
.thing .md .expando-button {
  position: relative;
  margin: 0 4px;
}

/* submit page */
.content > .tabpane-content,
.formtabs-content {
  padding-top: 12px;
  border: 3px solid transparent;
  border-top-color: var(--c-main);
}

.content > .tabmenu,
ul.tabmenu.formtab {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  list-style: initial;
}

.content > .tabmenu:hover,
ul.tabmenu.formtab:hover {
  border: none;
  background: transparent;
}

.content > .tabmenu li,
ul.formtab li {
  display: inline-block!important;
}

.content > .tabmenu li a,
ul.formtab li a {
  padding: 12px!important;
  border: none!important;
  background: transparent!important;
}

.content > .tabmenu li a:hover,
ul.formtab li a:hover {
  color: var(--c-main)!important;
}

.content > .tabmenu .selected a,
.tabmenu.formtab .selected a {
  color: var(--c-main)!important;
}

.roundfield, .linefield {
  padding: 10px;
  border: 1px solid var(--c-border);
  border-radius: 0px;
  background-color: var(--c-shadow);
}

/* misc pages */
.submit-page #reddit-field,
.submit-page #suggest-title {
  display: none;
}
.submit-page #items-required {
  font-size: 0;
}
.fancy-settings h1 {
  margin: 12px 0;
}
.usertable {
  margin: 0;
}
.flaircell, .flairlist .header {
  margin-right: 0;
}
.content > .menuarea {
  border: none;
  background: var(--c-main);
  color: var(--c-bg);
  display: inline-block;
  border-radius: 3px;
}
.content > .menuarea .dropdown.lightdrop .selected {
  color: var(--c-bg);
}
.content > .menuarea .flat-list a,
.content > .menuarea .flat-list .selected a {
  color: var(--c-bg);
}
