/* content */

body>.content {
  margin: 55px 0 0 12px;
  border-right-color: var(--c-bg);

  order: 1;
  flex: 0 1 calc(100% - (var(--w-sidebar) + 12px + 2px));
}

#subreddit_stylesheet>div,
#preview-table table {
  width: 100%;
}

.thing.stickied.link a.title,
.tagline .stickied-tagline,
.search-result-meta .stickied-tagline {
  color: var(--c-stickied);
}

.gold-accent {
  border-color: var(--c-locked);
  border-radius: 3px;
  background-color: color(var(--c-locked) lightness(90%));
}

/* inline expand buttons */
.thing .md .expando-button {
  margin: 0 4px;
  position: relative;
}

/* submit page */
.formtabs-content {
  border-color: var(--c-main);
}

ul.tabmenu.formtab {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  list-style: initial;
}

ul.tabmenu.formtab:hover {
  border: none;
  background: transparent;
}

ul.formtab li {
  display: inline-block!important;
}

ul.formtab li a {
  padding: 12px!important;
  border: none!important;
  background: transparent!important;
}

ul.formtab li a:hover {
  color: var(--c-main)!important;
}

.tabmenu.formtab .selected a {
  color: var(--c-main)!important;
}

.roundfield {
  padding: 12px;
  border: 1px solid var(--c-border);
  border-radius: 0px;
  background-color: var(--c-shadow);
}
