/* content */

.content {
  order: 1;
  margin: 55px 0 0 var(--pad);
  border-right-color: var(--c-bg);
  flex: 0 1 calc(100% - (var(--w-sidebar) + var(--pad) + 2px));
}

#subreddit_stylesheet > div,
#preview-table table { width: 100%; }

.thing.stickied.link a.title,
.tagline .stickied-tagline, .search-result-meta .stickied-tagline {
  color: var(--c-stickied);
}

.gold-accent {
  border-radius: 3px;
  border-color: var(--c-locked);
  background-color: color(var(--c-locked) lightness(90%));
}
