.thing {
  margin-bottom: var(--half-pad);
  padding: var(--half-pad) 0;

  border-bottom: 1px solid var(--c-shadow);
}

.domain,.domain a,.entry .buttons li a,.redditSingleClick:after,.search-result-meta,.tagline {
  color: var(--c-muted);
}

.domain a:hover,.entry .buttons li a:hover {
  color: var(--c-text);
}

.infobar,.reddit-infobar {
  border: none;
  background-color: transparent;
}

.reddit-infobar.with-icon:before {
  width: 41px;
  height: 41px;

  border-radius: 100%;
  background-color: var(--c-locked);
}

.reddit-infobar .md p {
  margin-top: -3px;
  padding-bottom: 5px;

  text-transform: uppercase;

  color: var(--c-locked-t);
  border-bottom: 2px solid var(--c-locked);

  font-size: .75rem;
}

.thing .title {
  color: var(--c-main);
}

.thing .title:visited {
  color: var(--c-visited);
}

.thing .title:hover {
  color: var(--c-main);
}

.entry .buttons li a:not(.comments) {
  font-weight: 400;
}

.entry .buttons li .comments {
  color: var(--c-main);
}

.thing .thumbnail {
  width: var(--w-thumbnail);
  height: var(--w-thumbnail)!important;
  margin: 0 var(--pad) 0 0;

  border-radius: 10px;
  background: var(--c-border);
}

.thing .thumbnail img {
  width: auto!important;
  height: var(--w-thumbnail)!important;
}

.thumbnail:before {
  position: absolute;

  display: block;

  width: calc(var(--w-thumbnail) - 1);
  height: var(--w-thumbnail);

  text-align: center;

  color: var(--c-text);

  font-size: .65rem;
  line-height: var(--w-thumbnail);
}

.thing.self .thumbnail:before {
  content: "self";
}

.thing.locked .thumbnail:before {
  content: "locked";
}

.thing .expando-button {
  position: absolute;

  width: 16px;
  height: 16px;
  margin: 11px 0 0 -24px;

  color: var(--c-muted);
  border: 2px solid;
  border-radius: 100%;
  background: var(--c-bg);
  background-image: none!important;
}

.thing .expando-button:before {
  position: absolute;

  display: block;

  width: 16px;
  height: 16px;

  text-align: center;

  background-image: none!important;

  font-size: .75rem;
  font-weight: 700;
  line-height: 15px;
}

.thing .expando-button.expanded,.thing .expando-button:hover {
  color: var(--c-main);
  background: var(--c-bg);
}

.thing .expando-button.expanded:before {
  content: "-"!important;
}

.thing .expando-button:not(.expanded):before {
  content: "+"!important;
}

.arrow {
  margin: 0 auto;

  text-align: center;

  color: var(--c-muted);
  background-image: none!important;

  line-height: 1.2;
}

.arrow.up:before,.arrow.upmod:before {
  content: "▲";
}

.arrow.down:before,.arrow.downmod:before {
  content: "▼";
}

.arrow.upmod,.link .score.likes {
  color: var(--c-upvote);
}

.arrow.downmod,.link .score.dislikes {
  color: var(--c-downvote);
}

.link.last-clicked {
  border-color: transparent var(--c-main) transparent transparent;
}

.link .usertext-body .md {
  border-color: transparent transparent transparent var(--c-main);
  border-radius: 0;
  background-color: var(--c-bg)!important;
}
