/* begin conditional plugin */ @if $link-flairs {

.flair, .linkflairlabel {
  padding: 2px 4px;
  border-color: var(--c-bg);
  background: var(--c-main);
  color: var(--c-bg);
  vertical-align: bottom;
}

.linkflair-red .linkflairlabel {
  background: var(--c-red-flair);
}

.linkflair-green .linkflairlabel {
  background: var(--c-green-flair);
}

/* end conditional plugin */ }
/* begin conditional plugin */ @if $user-flairs {

.tagline .flair {
  margin-bottom: -3px;
  vertical-align: bottom;
}

/* end conditional plugin */ }
