/* begin conditional plugin */ @if $link-flairs {

.flair, .linkflairlabel {
  padding: 2px 4px;
  border-color: var(--c-bg);
  background: var(--c-main);
  color: var(--c-bg);
  vertical-align: bottom;
}

/* end conditional plugin */ }
