/* footer */

.footer-parent {
  width: 100%;

  order: 3;
}

.footer-parent .bottommenu:first-of-type {
  margin-top: 24px;
}

.footer-parent .bottommenu:last-of-type {
  margin-bottom: 24px;
}

#hsts_pixel,.debuginfo {
  order: 4;
}
