/* content */

.content {
  order: 1;
  margin: 65px 0 0 var(--pad);
  border-right-color: var(--color-bg);
  flex: 0 1 calc(100% - (var(--width-sidebar) + var(--pad) + 2px));
}

#subreddit_stylesheet > div,
#preview-table table { width: 100%; }
