/* user inputs */

a {
  color: var(--c-main);
}

input[type=text],
textarea {
  box-sizing: border-box;
  padding: 6px 12px!important;
  border: 1px solid var(--c-border)!important;
  background: var(--c-bg)!important;
  color: var(--c-text)!important;
}

input[type=text]:focus,
textarea:focus {
  outline: none;
  border-color: var(--c-main)!important;
}

.btn {
  padding: 6px 12px;
}

.btn,
.fancy-toggle-button .option,
.fancy-toggle-button .option.active,
.morelink a,
.res-fancy-toggle-button,
[href="#btn"]+a,
[href="#obtn"]+a,
button {
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid var(--c-main);
}

.btn:hover,
.fancy-toggle-button .option:hover,
.fancy-toggle-button .option.active:hover,
.morelink a:hover,
.res-fancy-toggle-button:hover,
[href="#btn"]+a:hover,
[href="#obtn"]+a:hover,
button:hover {
  opacity: 0.8;
}

[href="#btn"]+a,
[href="#obtn"]+a {
  display: inline-block;
  padding: 6px 12px;
  font-size: .65rem;
}

[href="#btn"]+a {
  color: var(--c-bg);
  background: var(--c-main);
}

.btn,
.morelink a,
[href="#obtn"],
button {
  background: transparent;
  color: var(--c-main);
}
