/* RES compatibility */

/* header */
.res-navTop #header-bottom-right { margin-bottom: -3px; }

#RESShortcutsEditContainer,
#RESShortcutsSort,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsAdd {
  background: transparent;
  color: var(--color-bg);
}

/* todo: jesus, clean this up self */
#header:hover #RESShortcutsEditContainer,
#header:hover #RESShortcutsSort,
#header:hover #RESShortcutsRight,
#header:hover #RESShortcutsLeft,
#header:hover #RESShortcutsAdd { color: var(--color-mute); }

/* sidebar */
.titlebox .toggle.res-sr-style-toggle { margin-bottom: -5px; }

.res-fancy-toggle-button {
  border-radius: 0;
  padding: 6px 24px;
  margin: 0 0 15px 0;
  background: transparent;
  color: var(--color-font);
  border-color: var(--color-border);
}
.res-fancy-toggle-button:hover,
.res-fancy-toggle-button.remove {
  background-image: none;
  background: var(--color-border);
}

.RESDashboardToggle { float: right; }

/* entry */
.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .RES-keyNav-activeElement .md-container,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
  position: relative;
  background-color: transparent!important;
}
.listing-page .RES-keyNav-activeElement:after {
  top: 0!important;
  left: 0!important;
}
.res .RES-keyNav-activeElement:after,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed:after {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  top: var(--pad);
  right: var(--pad);
  position: absolute;
  border-radius: 10px;
  background-color: var(--color-accent);
}
.res .commentarea .RES-keyNav-activeThing {
  border: 1px solid var(--color-accent)!important;
}
