/* RES compatibility */

/* header */
.res-navTop #header-bottom-right { margin-bottom: -3px; }

#RESShortcutsEditContainer,
#RESShortcutsSort,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsAdd {
  background: transparent;
  color: var(--c-bg);
}

/* todo: jesus, clean this up self */
#header:hover #RESShortcutsEditContainer,
#header:hover #RESShortcutsSort,
#header:hover #RESShortcutsRight,
#header:hover #RESShortcutsLeft,
#header:hover #RESShortcutsAdd { color: var(--c-muted); }

#header:not(:hover) #sr-header-area a.RESShortcutsCurrentSub {
  color: var(--c-bg)!important;
}

/* sidebar */
.titlebox .toggle.res-sr-style-toggle { margin-bottom: -5px; }

.res-fancy-toggle-button {
  border-radius: 0;
  padding: 6px 24px;
  margin: 0 0 15px 0;
  background: transparent;
  color: var(--c-text);
  border-color: var(--c-border);
}
.res-fancy-toggle-button:hover,
.res-fancy-toggle-button.remove {
  background-image: none;
  background: var(--c-border);
}

.RESDashboardToggle { float: right; }

/* entry */
.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .RES-keyNav-activeElement .md-container,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
  background-color: transparent!important;
}
.entry.RES-keyNav-activeElement {
  border-right: 1px solid var(--c-main);
}

/* page nav */
.res-show-link {
  bottom: 0px;
  top: initial!important;
}
