/* :root {} variables */

  :root {

    /* colors */
    --c-bg: #fff;
    --c-text: #191a23;

    --c-main: #0071c5;

    --c-upvote: #f44336;
    --c-downvote: #0071c5;

    --c-stickied: #399b76;

    --c-shadow: #f7f7f7;
    --c-border: #eaeaea;
    --c-muted: #aaa;

    /* sizes */
    --w-sidebar: 300px;

    /* text */
    --submit-link: 'Show';
    --submit-text: 'Tell';
    --subscribers: 'Users';
    --here-now: 'Browsing';

    /* padding */
    --pad: 12px;
    --half-pad: calc(var(--pad) / 2);
    --third-pad: calc(var(--pad) / 3);
    --double-pad: calc(var(--pad) * 2);
    --quarter-pad: calc(var(--pad) / 4);

    /* styles */
    --ease-in: { transition: all 0.15s ease; };

    /* button */
    --button: {
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border: 1px solid var(--c-main);
    }
    --button-main: {
      color: var(--c-bg);
      background: var(--c-main);
    }
    --button-outline: {
      background: transparent;
      color: var(--c-main);
    }
  }
