/* general site structural changes */

body,html {
  margin: 0;
}

body {
  display: flex;
  background: var(--c-shadow);
  color: var(--c-text);

  flex-flow: row wrap;
}

.content,.side {
  box-sizing: border-box;
  padding: var(--pad);
  border: 1px solid var(--c-border);
  background: var(--c-bg);
}

.content .content {
  padding: 0;
  border: none;
}

.md hr {
  margin: var(--pad) 0;
  height: 1px;
  background-color: var(--c-border);
}
