/* :root {} variables */

:root {

  /* colors */
  --c-bg: #fff;
  --c-text: #191a23;
  --c-main: #0071c5;
  --c-button: #0071c5;

  --c-upvote: #f44336;
  --c-downvote: #0071c5;

  --c-locked: #ead340;
  --c-locked-t: color(var(--c-locked) blackness(60%));

  --c-stickied: #399b76;
  --c-visited: #aaa;
  --c-nsfw: #d86a62;

  --c-shadow: #f7f7f7;
  --c-border: #eaeaea;
  --c-muted: #aaa;

  /* sizes */
  --w-sidebar: 300px;
  --w-thumbnail: 45px;
  --h-thumbnail: 45px;

  /* text */
  --submit-link: 'Show';
  --submit-text: 'Tell';
  --subscribers: 'Users';
  --here-now: 'Browsing';

  /* options */
  $link-flairs: true;
  $user-flairs: true;
  $header-box: true;
  $hide-nsfw: true;
  $split-submit: true;
  $header-box-background: true;
  $header-box-light-text: true;

  /* flairs */
  --c-red-flair: #d86a62; /* matches nsfw */
  --c-green-flair: #399b76; /* matches stickied */

  /* header box */
  --hbox-height: 150px;
  --hbox-content: "r/eddited - clean. simple."

}
