/* general site structural changes */

body,html {
  margin: 0;
}

body {
  display: flex;
  background: var(--c-shadow);
  color: var(--c-text);

  flex-flow: row wrap;

  @if $image-bg { background: url(%%bg%%) fixed center top/cover; }
  @if $header-box {  }

}

@if $header-box {
  body.listing-page:not(.with-listing-chooser) {
    padding-top: calc(var(--hbox-height) + 8px);
  }
}

/* fix for r/all */
body.with-listing-chooser.listing-chooser-collapsed .listing-chooser,
body.with-listing-chooser .listing-chooser {
  top: 40px;
  z-index: 5;
}
body.with-listing-chooser #header .pagename {
  position: relative;
  bottom: initial;
  margin-right: 6px;
}

.content,.side {
  box-sizing: border-box;
  padding: 12px;
  background: var(--c-bg);
}

.content .content {
  margin: 0;
  padding: 0;
  border: none;
}

.md hr {
  margin: 12px 0;
  height: 1px;
  background-color: var(--c-border);
}
