/* Space out content a bit */
body {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  background: #fff !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.config,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  margin-top: 2rem;
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 58em) {
  .container {
    max-width: 56rem;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .config,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

.card {
  margin-bottom: .5rem;
}

.import,
.export {
  margin-top: 10px;
}

.import .btn {
  margin-top: 5px;
}

.conf {
  margin-bottom: 5px;
}

.card h5 {
  margin-bottom: 0;
  cursor: pointer;
}

.config .collapse,
.config .collapsing {
  padding-top: 1rem !important;
}

.conf label {
  display: block;
  font-size: 12px;
  text-align: right;
}

.color label {
  padding: 3px 5px;
}

.text-white textarea.form-control {
  color: #fff;
  border-color: rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.3);
}
